/* Global */
* {
    
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000000 ;    
    color: #ffffff;
    font-size: 16px;
  }


  a {
    color: #f2f2f2;
    text-decoration: none;
    position: center;
  }

  ul {
    list-style: none;
  }
  
  .container-biografia {
    width: 90%;
    margin: auto;
  }

     /* Responsive Button */
     .menu-btn-biografia {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
        display: none;
        border: none;
      }
  
  /* Navigation */
  .nav-main-biografia {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px 0;
  }
  
  /* Navbar Left */
  .nav-main-biografia ul {
    display: flex;
    margin: 40px;
    border: none;
   
  }

  .nav-main-biografia .nav-menu-biografia ul {
    flex: 1;
    margin-left: 200px;
  }
  
  
  .nav-main-biografia ul li {
    padding: 32px;
  }
  
  .nav-main-biografia ul li a {
    padding: 8px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
  }

  .nav-main-biografia ul li a:hover {
    background: fuchsia;
    color: white;
    box-shadow: 0 0 5px fuchsia,
                0 0 25px fuchsia,
                0 0 50px fuchsia,
                0 0 200px fuchsia,

    
  }

  .bio h1 {
    color: white;
    font-size: 20px, bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .bio p {
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-display: center;  
  }
  

  /* Responsive Button */
  .menu-btn-biografia {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
    border: none;
  }
  /* Follow */
  .social-biografia {
    margin: 50px;
  }
  .social-biografia p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

  }
  .links-biografia {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links-biografia a {
    margin: 0 30px;
  }
  
  .links-biografia a i {
    font-size: 3rem;
  }
  
  /* Links */
  .footer-links-biografia {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
  }
  
  .footer-container-biografia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .footer-container-biografia ul {
    margin: 0 auto;
  }
  
  .footer-links-biografia li {
    line-height: 2.8;
  }
  
  .footer-biografia {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    font-size: 0,2rem;
    padding-bottom: 20px;
  }

/* Mobil */
@media (max-width: 700px) {
    .menu-btn-biografia {
      display: block;
    }
  
    .menu-btn-.container-biografia {
      opacity: 0.5;
    }
  
    .showcase h1{
      padding: 20px;
      font-size: 20px;

    }
    .nav-main-biografia ul.nav-menu-biografia {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #2f3640;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-main-biografia ul.nav-menu-biografia li {
      padding: 7px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
    .nav-main-biografia ul.nav-menu-biografia li:last-child {
      border-bottom: 0;
    }
  
    .nav-main-biografia ul.nav-menu.show {
      transform: translateX(-7px);
    }
  
    .nav-main-biografia ul.nav-menu-right {
      margin-right: 50px;
    }
  
    .news-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 80%;
    }
  
    .footer-links .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .news-cards {
      grid-template-columns: 1fr;
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 100%;
      padding: 60px 20px;
    }
    .footer-links .footer-container {
      grid-template-columns: 1fr;
    }
  
    .footer-links .footer-container ul {
      text-align: center;
    }
  }
  
  